---
import "@/styles/animation.scss";
---

<div class="absolute top-0 left-0 w-full lg:w-4/5 h-full z-10 -mt-12 md:z-20">
  <div class="container__item landing-page-container">
    <div class="content__wrapper">
      <div class="ellipses-container">
        <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
        </div>
        <div class="ellipses ellipses__outer--thick"></div>
      </div>
    </div>
  </div>
</div>
