---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const title = "Página no encontrada";
---

<Base title={title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <Image
            src="/images/404.png"
            class="mb-4 inline"
            alt="404"
            height={120}
            width={120}
          />
          <h1 class="mb-4">{title}</h1>
          <p class="mb-8">Lo sentimos, la página que buscas no existe.</p>
          <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
      </div>
    </div>
  </section>
</Base>
